# Auto detect text files and perform LF normalization
* text=auto

# Force Unix line endings for shell scripts
*.sh text eol=lf
docker-entrypoint.sh text eol=lf
run_services.sh text eol=lf
Dockerfile text eol=lf